---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { BLOG } from "@consts";

const posts = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<PageLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate text-heading-primary">
        Blog
      </div>
      <div class="space-y-4">
        <ul class="flex flex-col gap-4">
          {
            posts.map((post) => (
              <li>
                <ArrowCard entry={post}/>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </Container>
</PageLayout>
